body {
    font-family: Roboto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo p {
    font-size: 24px;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 400px;
}

.header ul {
    list-style: none;
    color:#f9faf8;
    display: inline-flex;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.hero {
    height: 300px;
    margin: 150px 400px;
    padding: 0;
    gap: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero h1 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero img {
    width: 700px;
    height: 250px;
    object-fit: cover;
    align-self: center;
}

.hero .container {
    height: 250px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button,
.caller {
    background-color: #3882f6;
}

.container button {
    align-self: flex-start;
    font-size: 22px;
    color: #e5e7eb;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
}