* {
    font-family: Roboto, sans-serif;
}

main,
body,
.top {
    margin: 0 auto;
    padding: 0;
}

.top {
    background-color: #1f2937;
}

.header,
.footer,
.hero,
.hero .container {
    background-color: #1f2937;
    color: #f9faf8;
    margin: 0;
    padding: 0 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotext {
    font-size: 24px;
    font-weight: 900;
}

.logo img {
    width: 50px;
    height: 50px;
}
.logo,
.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul {
    list-style-type: none;
    gap: 10px;
}

h1 {
    font-size: 48px;
}

.container p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: 0px;
    border-radius: 5px;
    padding: 5px 20px;
}