body {
    font-family: Roboto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: #f9faf8;
    text-decoration: none;
}

.top {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.logo img {
    width: 50%;
    height: 50px;
}

.logo p {
    font-size: 24px;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 400px;
}

.header ul {
    list-style: none;
    color:#f9faf8;
    display: inline-flex;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.hero {
    height: 300px;
    margin: 150px 400px;
    padding: 0;
    gap: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero h1 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero img {
    width: 50%;
    height: 280px;
    object-fit: cover;
    align-self: center;
}

.hero .container {
    height: 280px;
    width: 50%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    background-color: #3882f6;
}

.container button {
    align-self: flex-start;
    font-size: 22px;
    color: #e5e7eb;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
}

.info {
    margin: 0 400px 100px 400px;
    padding: 0;
}

.info h2 {
    margin-bottom: 50px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.info .container {
    margin: 0;
    padding: 0;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info img {
    width: 180px;
    height: 180px;
    border: 3px solid #3882f6;
    border-radius: 25px;
}

figure {
    margin: 0;
    padding: 0;
    gap: 10px;
    display: flex;
    flex-flow: column wrap;
}

figcaption {
    width: 180px;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    margin: 0;
    padding: 0;
}

.qt-box {
    margin: 100px 500px;
    display: flex;
    flex-direction: column;
}

.signature {
    font-weight: 900;
    align-self: flex-end;
}

.qt-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer p {
    color: #f9faf8;
}

.caller {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caller-box {
    margin: 50px 400px;
    padding: 50px 250px;
    gap: 50px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caller-text {
    margin: 0;
    padding: 0;
}

.caller-box button {
    font-size: 22px;
    color: #e5e7eb;
    padding: 10px 25px;
    border: 2px solid #e5e7eb;
    border-radius: 5px;
    flex-wrap: nowrap;
}